{% extends "base.html" %}

{% block css %}
<!-- Custom styles for this template -->
<link href="/static/css/shop-homepage.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="/goods/1"><img class="card-img-top"
                                                    src="{{ url_for('static', filename='images/c-lang.png') }}" alt="" style="width: 170px;"></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="/goods/1">C 프로그래밍</a>
                                </h4>
                                <h5>15,000원</h5>
                                <p class="card-text">C 프로그래밍 언어가 갖고 있는 많은 장점으로 인해 오늘날 많은 사람이 C 언어를 배우고 사용하고 있다.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="/goods/2"><img class="card-img-top"
                                                    src="{{ url_for('static', filename='images/database.png') }}"
                                                    alt="" style="width: 170px;"></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="/goods/2">데이터베이스 시스템</a>
                                </h4>
                                <h5>28,900원</h5>
                                <p class="card-text">이 책은 데이터베이스에서 사용되고 있는 핵심적인 이론과 기술을 폭넓게 다루고 있다</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="/goods/3"><img class="card-img-top"
                                                    src="{{ url_for('static', filename='images/cloud_computing.jpg') }}"
                                                    alt="" style="width: 170px;"></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="/goods/3">클라우드컴퓨팅</a>
                                </h4>
                                <h5>17,000원</h5>
                                <p class="card-text">여기에 교재 설명</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="/goods/4"><img class="card-img-top"
                                                    src="{{ url_for('static', filename='images/opensource.jpg') }}"
                                                    alt="" style="width: 170px;"></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="/goods/4">오픈소스기반 데이터 분석</a>
                                </h4>
                                <h5>34,200원</h5>
                                <p class="card-text">『오픈소스 기반 데이터 분석』은 그 간극을 좁히기 위한 교육적 시도이자 실천입니다.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="/goods/5"><img class="card-img-top"
                                                    src="{{ url_for('static', filename='images/ai_book.jpg') }}"
                                                    alt="" style="width: 170px;"></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="/goods/5">인공지능</a>
                                </h4>
                                <h5>19,400원</h5>
                                <p class="card-text">인공지능의 초기 연구로부터 현재의 첨단 기술로 발전하는 과정에서 인공지능의 가능성을 기대할 수 있게 한 의미 있는 이론 및 모델에 대해 소개한다.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="/goods/6"><img class="card-img-top"
                                                    src="{{ url_for('static', filename='images/python.jpg') }}" alt="" style="width: 170px;"></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="/goods/6">파이썬</a>
                                </h4>
                                <h5>31,500원</h5>
                                <p class="card-text">이 책은 누구나 쉽게 따라할 수 있는 파이썬 프로그래밍 언어에 기반하고 있기 때문에 프로그래밍을 통해 얻을 수 있는 논리
                                    능력 향상과 문제 해결력 배양에 가장 적합하다.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
</div>
{% endblock %}
